ol {
    padding: 0;
    margin: 0 0 1.5em;
    counter-reset: item;
}

ol > li {
    width: 705px;
    margin: 10px 10px 10px 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed black;
    display: inline-block;
    list-style-type: none;
    counter-increment: item;
    background-color: rgba(155, 178, 204, 0.45);
}

ol > li:before {
    width: 1em;
    display: inline-block;
    padding-right: 0.5em;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.list-container {
    display: inline;
}

.list-head {
    font-size: 28px;
    font-weight: bold;
}

.list-desc {
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 5px;
}

.header-subscript {
    font-size: 16px;
    margin-left: 5px;
}
