.code {
    width: 900px;
    padding: 0 25px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 270px;
    border-radius: 10px;
    border: 1px dashed black;
    background-color: rgba(155, 178, 204, 0.45);
}
