.header {
    font-size: 4em;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: -18px;
    text-shadow: rgba(0, 0, 0, 0.25) 5px 5px
}

.sub-header {
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 2px 2px
}

.author-name {
    bottom: 0;
    right: 36px;
    position: fixed;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.36) 2px 2px
}
