.content {
    width: 1250px;
    border: 1px dashed grey;
    margin-left: 108px;
    font-size: 18px;
    font-weight: bold;
    padding: 18px;
    border-radius: 16px;
    background: rgba(155, 178, 204, 0.45);
    box-shadow: 0 2px 2px rgba(0, 20, 80, 0.3);
}
