html {
    height: 100%;
}

body {
    margin: 0;
    width: fit-content;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, rgba(184, 115, 203, 0.5), rgba(115, 165, 239, 0.5)), url(/assets/bg-mcb-m.jpg);
}

h1, h2, h3, h4, h5, h6, p, li, div, span {
    width: fit-content;
}

.inline {
    display: inline-block;
}

.font-16 {
    font-size: 16px;
}

.font-24 {
    font-size: 24px;
}

.font-weight-normal {
    font-weight: normal;
}

.image-center {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-height-270 {
    width: auto;
    max-height: 270px;
}

.image-height-360 {
    width: auto;
    max-height: 360px;
}

.image-height-450 {
    width: auto;
    max-height: 450px;
}

.vertical-center {
    top: 50%;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
}

.float-right {
    float: right;
}

.float-center {
    text-align: center;
}

.font-size-1 {
    font-size: 1em;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-3 {
    font-size: 3em;
}

.font-size-4 {
    font-size: 4em;
}

.font-bold {
    font-weight: bold;
}

.bordered {
    border: 2px solid olivedrab;
}

.rounded-bordered {
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
}

.border-top {
    border-top: 2px solid black;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.border-bottom-dashed {
    border-bottom-style: dashed;
}

.shadow-box {
    padding: 25px;
    box-shadow: 5px 5px 5px 5px #666666;
}

.trans-shadow-box {
    padding: 25px;
    box-shadow: 0 2px 2px rgba(0, 20, 80, 0.3);
}

.round-edges-10 {
    border-radius: 10%;
}

.round-edges-25 {
    border-radius: 25%;
}

.round-edges-50 {
    border-radius: 50%;
}

.round-edges-100-px {
    border-radius: 100px;
}

.width-full-view {
    width: 98vw;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-25 {
    margin: 25px;
}

.m-50 {
    margin: 50px;
}

.m-75 {
    margin: 75px;
}

.m-100 {
    margin: 100px;
}

.m-125 {
    margin: 125px;
}

.m-150 {
    margin: 150px;
}

.m-200 {
    margin: 200px;
}

.m-250 {
    margin: 250px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-75 {
    margin-left: 75px;
}

.ml-100 {
    margin-left: 100px;
}

.ml-125 {
    margin-left: 125px;
}

.ml-150 {
    margin-left: 150px;
}

.ml-200 {
    margin-left: 200px;
}

.ml-250 {
    margin-left: 250px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-75 {
    margin-right: 75px;
}

.mr-100 {
    margin-right: 100px;
}

.mr-125 {
    margin-right: 125px;
}

.mr-150 {
    margin-right: 150px;
}

.mr-200 {
    margin-right: 200px;
}

.mr-250 {
    margin-right: 250px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-250 {
    margin-top: 250px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-250 {
    margin-bottom: 250px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-25 {
    padding: 25px;
}


.animation-fade-in {
    animation: fadeIn .6s ease-in-out;
}
